@import "vue-toastification/src/scss/_variables";
@import "vue-toastification/src/scss/_toastContainer";
@import "vue-toastification/src/scss/_toast";
@import "vue-toastification/src/scss/_closeButton";
@import "vue-toastification/src/scss/_progressBar";
@import "vue-toastification/src/scss/_icon";
@import "vue-toastification/src/scss/animations/_bounce";

$primary-color: white;
$secondary-color: #f5f5f5;
$third-color: #6e6e6e;

.bg-primary {
  background-color: $primary-color !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}

#app-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  * {
    font-family: 'Roboto', sans-serif;
  }

  h1, h2, h3, h4, h5, h6, button {
    font-family: 'Roboto', sans-serif;
  }
}

p:last-child, ul:last-child {
  margin-bottom: 0;
}

.landing-page {
  text-align: center;
  padding: 2rem;

  .header {
    margin-bottom: 2rem;

    .logo {
      width: 350px;
      height: auto;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 2.5rem;
      margin: 0;
    }
  }

  .description {
    margin-bottom: 2rem;

    p {
      font-size: 1.2rem;
      color: #666;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .features {
    padding: 2rem 0;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .feature {
      max-width: 400px;
      margin: 1rem;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
        color: #666;
      }
    }
  }
}

.team {
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .team-member {
      background-color: $secondary-color;
      width: 300px;
      margin: 1rem;
      text-align: center;

      .team-photo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 0.5rem;
      }

      h3 {
        font-size: 1.2rem;
        margin: 0.5rem 0;
      }

      .social-links {
        display: flex;
        justify-content: center;

        a {
          margin: 0 0.5rem;

          .icon {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}

.footer {
  margin-top: auto; /* Ensures footer stays at the bottom */
  padding: 1rem 0;
  background-color: #343a40;
  color: white;
  width: 100%;

  .logo {
    height: 32px;
  }

  .icon {
    height: 12px; /* Reduced to 50% of the original 24px */
    width: 12px;
  }

  a {
    color: white;
  }

  a:hover {
    color: #007bff;
  }

  .nav {
    align-items: center;
  }
}

.chain-components {
  .chain-component {
    padding: 1rem;
    margin: 2rem;
    background-color: $secondary-color;
    border-radius: 10px;
  }
}

.staking-page {
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}

.balance-table-component {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.total-staked, .pending-rewards {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.staked-table {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.staked-row {
  display: flex;
  justify-content: space-between;
}

.show-more {
  text-align: center;
}

button {
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 10px !important;
  background-color: $third-color;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #4e4e4e;
}

.chain-component {
  margin-bottom: 2rem;
}

.chain-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: $third-color;
  color: white;
  margin-bottom: 1rem;
}

.restaking-toggle {
  display: flex;
  align-items: center;
}

.toggle-label {
  margin-left: 0.5rem;
  font-size: 1rem;
}

/* Toggle Switch CSS */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #28a745;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.chain-info {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
  margin-right: 1rem;
}

.user-info {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.balance-component {
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  margin: 0.5rem;
  min-width: 100px;
}

.chain-image {
  width: 24px;
  height: auto;
  margin: 0.25rem 0.5rem 0.25rem 0; /* Combined margin properties */
}
